#!/usr/bin/expect -f
set timeout -1
spawn /usr/local/bin/backup-with-{{ app }}
expect -re "Some files couldn't be prepared.*Do you agree?"
send -- "{% if allow_extra_space_use %}y{% else %}n{% endif %}\r"
expect eof
