#!/bin/bash

set -e

RESTIC_SERVER=$(yunohost app setting restic server)
RESTIC_SERVER_PORT=$(yunohost app setting restic port)
RESTIC_SERVER_USER=$(yunohost app setting restic ssh_user)
RESTIC_PATH=$(yunohost app setting restic backup_path)

RESTIC_PASSWORD="$(yunohost app setting restic passphrase)"
RESTIC_REPOSITORY_BASE=sftp://$RESTIC_SERVER_USER@$RESTIC_SERVER:$RESTIC_SERVER_PORT/$RESTIC_PATH/

RESTIC_COMMAND=/usr/local/bin/restic

do_check() {

    local name="$1"
    local check_read_data="$2"
    export RESTIC_PASSWORD
    export RESTIC_REPOSITORY=${RESTIC_REPOSITORY_BASE}/$name
    LOGFILE=/var/log/restic_check.log
    ERRFILE=/var/log/restic_check.err
    current_date=$(date +"%d_%m_%y_%H:%M")
    echo -e "\n==============\n${current_date}\n==============\n" | tee -a ${LOGFILE} | tee -a ${ERRFILE}
    if [ "$check_read_data" -eq "1" ];then
      $RESTIC_COMMAND check --read-data > >(tee -a $LOGFILE) 2> >(tee -a $ERRFILE >&2)
    else
      $RESTIC_COMMAND check > >(tee -a $LOGFILE) 2> >(tee -a $ERRFILE >&2)
    fi
    check_return_code="$?"
    return "${check_return_code}"
}

name=$1
check_read_data=${2:-0}

do_check "${name}" "${check_read_data}"

exit 0
