[Unit]
Description=Complete check backup __APP__
After=network.target

[Service]
Type=oneshot
ExecStart=__FINALPATH__/check-__APP__ "1"
ExecStartPost=/opt/yunohost/__APP__/restic_check_log___APP__ 1
User=__APP__
Group=__APP__

[Install]
WantedBy=multi-user.target
